body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0;
}

h3 {
    font-size: 24px;
}

p {
    margin: 0 0 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    font-size: 18px;
    font-weight: 300;
    color: #1F2937;
}

.alt-text {
    color: #E5E7EB;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #113a4c;
    color: #F9FAF8;
    padding: 20px 50px;
}

.hero .container {
    max-width: 70%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header .links {
    display: flex;
    gap: 20px;
}

.container .content {
    margin: 50px 0;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 60px 0;
}

.hero-image {
    flex: 2 0 500px;
    height: 250px;
}

.button {
    color: #F9FAF8;
    background-color: #3b7d9e;
    border: 0;
    padding: 8px 30px;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 23% 100px;
    gap: 50px;
}

.info .content {
    display: flex;
    gap: 50px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}

.items .image {
    height: 160px;
    width: 160px;
    border: 5px solid #3b7d9e;
    border-radius: 10px;
    margin-bottom: 10px;
}

.image img {
    border-radius: 5px;
}

.items .text {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    padding: 100px 23%;
}

.quote .text {
    text-align: right;
    font-size: 24px;
    font-weight: 700;
}

.sign-up .action-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 15%;
    padding: 40px 90px;
    background-color: #3b7d9e;
    border-radius: 10px;
    color: #F9FAF8;
}

.action-box div p, .action-box div h3 {
    margin: 5px 0;
}

.action-box .button {
    border: 2px solid #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #113a4c;
    color: #F9FAF8;
    padding: 30px;
}