body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;

}

h3 {
    font-size: 24px;
}

.text {
    font-size: 18px;
    font-weight: 500;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 50px;
}

.hero .container {
    max-width: 70%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header .links {
    display: flex;
    gap: 20px;
}

.alt-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .content {
    margin: 50px 0;
    display: flex;
    align-items: center;
}

.hero-image {
    max-width: 500px;
    height: auto;
    flex: 2;
}

.button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0;
    padding: 8px 30px;
    border-radius: 10px;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 23%;
}

.info {
    display: flex;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.items .image {
    height: 150px;
    width: 150px;
    border: 5px solid blue;
    border-radius: 10px;
    margin-bottom: 10px;
}

.items .text {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    padding: 100px 23%;
}

.quote .text {
    text-align: right;
    font-size: 24px;
    font-weight: 700;
}

.sign-up .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 20%;
    padding: 20px 70px;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
}

.box div p, .box div h3 {
    margin: 5px 0;
}

.box button {
    padding: 5px 20px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 40px;
}